




.deteccion__online{
    background-color: rgba($color: #000000, $alpha: 0.7);
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deteccion__content{
   box-shadow: 0 0 3px 0 rgba($color: 
   $claro, $alpha: 0.7);
   border-radius: 7px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px 10px;

   h2{
       color: $primary;
   }

   .offline{
       color: $danger;
   }
}