.contact-form{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.contact-form>*{
    display: block;
    margin: 1rem 0;
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

.contact-form textarea{
    resize: none;
}

.contact-form legend,
.contact-form-respuesta{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}


.contact-form input,
.contact-form textarea{
    font-size: 1rem;
    font-family: sans-serif;
}


.contact-form input[type="submit"]{
    width: 50%;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.contact-form *::placeholder{
    color: $dark-2;
}

.contact-form [required]:valid{
    border: 2px solid $success-1;
}

.contact-form [required]:invalid{
    border: 1.7px solid $danger;
}

.contact-form-error{
    background-color: $danger;
    color: $claro;
    font-size: 80%;
    margin-top: -1rem;
    transition: all .3s ease-in-out;
}



.contact-form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

@keyframes show-message {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.contact-form-loader.none,
.contact-form-respuesta.none{
    display: none;
}

.contact-form-loader{
    display: block;
    text-align: center;
}

.none{
    display: none;
}